*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F6F7F9;
}
#homepage{
    width: 88%;
    margin: auto;
}

#hero{
    display: flex;
    justify-content: space-between;
}
#hero > div  {
    width: 48%;
}

#hero img{
    height: 100%;
    width: 100%;
}

#pick-drop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.drop-pick{
    padding: 24px 48px 28px 48px;
    border-radius: 8px;
    background-color: #fff;
    width: 38%;
    min-height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.drop-pick img{
    margin-right: 8px;
}
.pick-drop-inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pick-drop-inner > div{
    display: flex;
    flex-direction: column;
}

.search{
    background-color: #3563E9;
    padding: 18px;
    border-radius: 8px;
}
.search:hover{
    cursor: pointer;
    background-color: #416CEA;
    transition: background-color 0.5s ease;
}
.vertical-line{
    width: 1px;
    background-color: #C3D4E9;
    height: inherit;
}
.pick-drop-inner .MuiInputBase-input{
    height: 8px;
    width: 100px;
}


/* Subheading */
.sub-head{
    margin: 30px 0;
    color: rgba(19, 19, 19, 0.6);
}

@media screen and (max-width: 400px) {
    #hero > div:nth-child(1){
        display: none;
    }
    #hero{
        justify-content: center;
    }
    
}
@media screen and (max-width: 840px) {
    #pick-drop{
        flex-direction: column;
    }
    
}